{% extends "layouts/base_authenticated.html" %}
{% load static %}
{% load object_extras %}

{# TODO: Timezones are kinda broken and need to be manually set #}
{% load tz %}

{% block body %}

<div class="flex flex-col gap-4 mx-auto">
  <div class="flex flex-wrap justify-center gap-8 px-10 py-6 border-2 rounded-md border-slate-800">

    {# Left side: profile picture and block #}
    <div class="flex flex-col items-stretch gap-3">

      {# Profile picture #}
      <div class="flex flex-col items-center gap-2">
        <div class="text-center leading-4 text-lg font-raleway text-slate-800">FOTO DE PERFIL</div>
        <img class="rounded-full h-40 w-40" src="{% static 'images/ic-account-circle-dark.svg' %}"
          alt="Profile picture" />
      </div>

      {# Left side other options #}
      {% block left_side_block %}{% endblock %}

    </div>

    {# Right side: profile information #}
    <div class="flex flex-col items-start gap-3">

      {# Name #}
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">NOMBRE</div>
        <div class="text-xl font-light font-roboto">{{ object.get_full_name }}</div>
      </div>

      {# Email #}
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">CORREO ELECTRÓNICO</div>
        <div class="text-xl font-light font-roboto">{{ object.email }}</div>
      </div>

      {# Identification number #}
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">DOCUMENTO</div>
        <div class="text-xl font-light font-roboto">{{ object.get_formatted_identification }}</div>
      </div>

      {# Gender #}
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">GÉNERO</div>
        <div class="text-xl font-light font-roboto">{{ object.get_gender_display }}</div>
      </div>

      {# Role (Staff level) #}
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">ROL</div>
        <div class="text-xl font-light font-roboto">
          {% if object.is_staff %}
          Administrador
          {% else %}
          Encargado
          {% endif %}
        </div>
      </div>

      {# Site #}
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">SEDE</div>
        <div class="text-xl font-light font-roboto">{{ object.site.name }}</div>
      </div>

      {# Last login #}
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">ÚLTIMO ACCESO</div>
        <div class="text-xl font-light font-roboto">
          {% timezone "America/Bogota" %}
          {{ object.last_login|date:"d/m/Y H:i" }}
          {% endtimezone %}
        </div>
      </div>

      {# Date joined #}
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">FECHA CREACIÓN</div>
        <div class="text-xl font-light font-roboto">
          {% timezone "America/Bogota" %}
          {{ object.date_joined|date:"d/m/Y H:i" }}
          {% endtimezone %}
        </div>
      </div>
    </div>

  </div>

  {# Page action buttons #}
  <div class="flex flex-wrap gap-3">
    {% block page_actions_buttons %}{% endblock %}
  </div>
</div>

{% endblock %}