{% extends "layouts/base_authenticated.html" %}
{% load static %}
{% load form_extras %}

{% block body %}

<div class="flex flex-col gap-4 mx-auto">

  {# Page header #}
  <h1 class="text-4xl text-center self-center font-raleway font-medium text-slate-800">
    {% block page_header %}{% endblock %}
  </h1>

  {# Form #}
  <form class="flex flex-col gap-4" method="post" action="">
    {% csrf_token %}

    {# First name, Last name #}
    {% for field in form|get_fields:"first_name,last_name" %}

    <div class="flex flex-col gap-2">
      <div class="text-lg uppercase leading-4 font-raleway  text-slate-800">{{ field.label }}</div>
      <div class="form-group custom-input p-2 border rounded-md border-slate-800">
        <input type="text" name="{{ field.name }}" id="{{ field.id }}" placeholder="{{ field.label }}"
          class="form-control input-text font-roboto" {% if field.value %}value="{{ field.value }}" {% endif %} />
      </div>

      {% if field.errors %}
      <div class="message error w-full leading-3 text-sm">{{ field.errors|first }}</div>
      {% endif %}
    </div>
    {% endfor %}

    {# Identification type and number #}
    <div class="flex flex-col gap-2">
      <div class="text-lg leading-4 font-raleway text-slate-800">DOCUMENTO</div>

      <div class="flex gap-2">
        <select name="identification_type" id="id_identification_type"
          class="px-2 border rounded-md font-roboto bg-white border-slate-800">
          {% for value, text in form.identification_type.field.choices %}
          <option value {% if value %}="{{ value }}" {% endif %}
            {% if value|to_int == form.identification_type.value|to_int %}selected{% endif %}>
            {{ text }}
          </option>
          {% endfor %}
        </select>

        {# Identification number #}
        <div class="flex-1 form-group custom-input p-2 border rounded-md border-slate-800">
          <input type="text" name="identification_number" id="id_identification_number"
            placeholder="Número de documento" class="form-control input-text font-roboto"
            {% if form.identification_number.value %}value="{{ form.identification_number.value }}" {% endif %} />
        </div>
      </div>

      {% if form.identification_number.errors %}
      <div class="message error leading-3 text-sm">{{ form.identification_number.errors|first }}</div>
      {% endif %}
    </div>

    {# Gender, Kinship #}
    {% for field in form|get_fields:"gender,kinship" %}

    <div class="flex flex-col gap-2">
      <div class="text-lg uppercase leading-4 font-raleway text-slate-800">{{ field.label }}</div>
      <select name="{{ field.name }}" id="{{ field.id }}"
        class="px-2 py-3 border rounded-md font-roboto bg-white border-slate-800">
        {% for value, text in field.field.choices %}
        <option value {% if value %}="{{ value }}" {% endif %}
          {% if value|to_int == field.value|to_int %}selected{% endif %}>
          {{ text }}
        </option>
        {% endfor %}
      </select>

      {% if field.errors %}
      <div class="message error w-full leading-3 text-sm">{{ field.errors|first }}</div>
      {% endif %}
    </div>

    {% endfor %}
  
    {# Email, Contact number #}
    {% for field in form|get_fields:"email,contact_number" %}

    <div class="flex flex-col gap-2">
      <div class="text-lg uppercase leading-4 font-raleway  text-slate-800">{{ field.label }}</div>
      <div class="form-group custom-input p-2 border rounded-md border-slate-800">
        <input type="text" name="{{ field.name }}" id="{{ field.id }}" class="form-control input-text font-roboto"
          {% if field.value %}value="{{ field.value }}" {% endif %} />
      </div>

      {% if field.errors %}
      <div class="message error w-full leading-3 text-sm">{{ field.errors|first }}</div>
      {% endif %}
    </div>
    {% endfor %}

    {# Action buttons #}
    <div class="flex gap-3">
      <input class="btn btn-primary" type="submit" value="GUARDAR" />
      <a href="{% url 'residents:index' %}" class="btn btn-primary">CANCELAR</a>
    </div>

  </form>

</div>

{% endblock %}