{% extends "layouts/base_authenticated.html" %}

{# TODO: Timezones are kinda broken and need to be manually set #}
{% load tz %}

{% block title %}Usuarios{% endblock %}

{% block body %}

<div class="container flex flex-col gap-4 mx-auto">

  {# Action buttons #}
  <div class="flex gap-3">
    <a href="{% url 'users:new' %}" class="btn btn-primary">NUEVO USUARIO</a>
  </div>

  {# Users table, rendered using datatables (js) #}
  <table id="datatable" class="display compact">
    {# Table header #}
    <thead>
      <tr class="font-raleway text-slate-800">
        <th>NOMBRES</th>
        <th>APELLIDOS</th>
        <th>ROL</th>
        <th>SEDE</th>
        <th>ÚLTIMO ACCESO</th>
        <th>ACCIONES</th>
      </tr>
    </thead>

    {# Table body #}
    <tbody class="font-roboto">
      {% for user in users %}
      <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{% if user.is_staff %}Administrador{% else %}Encargado{% endif %}</td>
        <td>{{ user.site.name }}</td>
        <td>
          {% timezone "America/Bogota" %}
          {{ user.last_login|date:"d/m/Y H:i" }}
          {% endtimezone %}
        </td>
        <td class="flex flex-wrap gap-2">
          <a href="" class="btn btn-primary py-1">VER</a>
          <a href="" class="btn btn-primary py-1">EDITAR</a>
          <a href="" class="btn btn-primary py-1">ELIMINAR</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}