{% extends "layouts/base_authenticated.html" %}

{# TODO: Timezones are kinda broken and need to be manually set #}
{% load tz %}

{% block title %}Usuarios{% endblock %}

{% block body %}

<div class="container flex flex-col gap-4 mx-auto">

  {% if messages %}
  <div class="flex flex-col gap-3">
    {% for message in messages %}
    <div class="message w-full {% if message.tags %}{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {# Action buttons #}
  <div class="flex gap-3">
    <a href="{% url 'users:new' %}" class="btn btn-primary">NUEVO USUARIO</a>
  </div>

  {# Users table, rendered using datatables (js) #}
  <table id="users-datatable" class="display compact">
    {# Table header #}
    <thead>
      <tr class="font-raleway text-slate-800">
        <th>USUARIO</th>
        <th>NOMBRES</th>
        <th>APELLIDOS</th>
        <th>ROL</th>
        <th>SEDE</th>
        <th>ÚLTIMO ACCESO</th>
        <th>ESTADO</th>
        <th>ACCIONES</th>
      </tr>
    </thead>

    {# Table body #}
    <tbody class="font-raleway">
      {% for user in users %}
      <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{% if user.is_staff %}Administrador{% else %}Encargado{% endif %}</td>
        <td>{{ user.site.name }}</td>
        <td>
          {% timezone "America/Bogota" %}
          {{ user.last_login|date:"d/m/Y H:i" }}
          {% endtimezone %}
        </td>
        <td>
          {% if user.is_active %}
          <span class="text-green-800">Habilitado</span>
          {% else %}
          <span class="text-red-800">Deshabilitado</span>
          {% endif %}
        </td>
        <td class="flex flex-wrap gap-2">
          <a href="{% url 'users:view' user.id %}" class="btn btn-primary py-1">VER</a>
          <a href="{% url 'users:edit' user.id %}" class="btn btn-primary py-1">EDITAR</a>
          
          <form action="{% url 'users:delete' user.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary py-1" value="ELIMINAR" />
          </form>

          <form action="{% url 'users:update_is_active' user.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
          
            {% if user.is_active %}
            <input type="hidden" name="is_active" value="False">
            <input type="submit" class="btn btn-primary py-1" value="DESHABILITAR" />
            {% else %}
            <input type="hidden" name="is_active" value="True">
            <input type="submit" class="btn btn-primary py-1" value="HABILITAR" />
            {% endif %}
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}