{% extends "user/base_user_detail.html" %}

{% block title %}Ver usuario{% endblock %}

{# Page action buttons #}
{% block page_actions_buttons %}

<a href="{% url 'users:index' %}" class="btn btn-primary self-stretch">VOLVER</a>
<a href="{% url 'users:edit' object.id %}" class="btn btn-primary self-stretch">EDITAR</a>
<a href="" class="btn btn-primary self-stretch">INHABILITAR</a>
<form action="{% url 'users:delete' object.id %}" method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" value="ELIMINAR" />
</form>

{% endblock %}