{% extends "layouts/base_authenticated.html" %}
{% load static %}

{% block title %}Editar perfil{% endblock %}

{% block body %}

<div class="flex flex-col gap-4 mx-auto">

  <!-- Page header -->
  <h1 class="text-4xl text-center self-center font-raleway font-medium text-slate-800">Editar perfil</h1>

  <!-- Form -->
  <form class="flex flex-col gap-4" method="post" action="">
    {% csrf_token %}

    <!-- Profile picture -->
    <div class="flex flex-col items-start gap-2">
      <div class="text-left leading-4 text-lg font-raleway text-slate-800">FOTO DE PERFIL</div>

      <div class="flex gap-3">
        <img class="rounded-full h-40 w-40" src="{% static 'images/ic-account-circle-dark.svg' %}"
          alt="Profile picture" />

        <!-- Profile picture action buttons 
          TODO: Implement these buttons -->
        <div class="flex flex-col justify-center gap-2">
          <button class="btn btn-primary">
            SUBIR FOTO
          </button>
          <button class="btn btn-primary">
            ELIMINAR FOTO
          </button>
        </div>
      </div>
    </div>

    <!-- First name -->
    <div class="flex flex-col gap-2">
      <div class="text-lg leading-4 font-raleway text-slate-800">NOMBRES</div>
      <div class="form-group custom-input p-2 border rounded-md border-slate-800">
        <input type="text" name="first_name" id="id_first_name" placeholder="Nombres"
          class="form-control input-text font-roboto" value="{{ form.first_name.value }}">
      </div>

      {% if form.first_name.errors %}
      <div class="error-message w-full leading-3 text-sm">{{ form.first_name.errors|first }}</div>
      {% endif %}
    </div>

    <!-- Last name -->
    <div class="flex flex-col gap-2">
      <div class="text-lg leading-4 font-raleway text-slate-800">APELLIDOS</div>
      <div class="form-group custom-input p-2 border rounded-md border-slate-800">
        <input type="text" name="last_name" id="id_last_name" placeholder="Apellidos"
          class="form-control input-text font-roboto" value="{{ form.last_name.value }}">
      </div>

      {% if form.last_name.errors %}
      <div class="error-message w-full leading-3 text-sm">{{ form.last_name.errors|first }}</div>
      {% endif %}
    </div>

    <!-- Email -->
    <div class="flex flex-col gap-2">
      <div class="text-lg leading-4 font-raleway text-slate-800">CORREO ELECTRÓNICO</div>
      <div class="form-group custom-input p-2 border rounded-md border-slate-800">
        <div class="icon-email"></div>
        <input type="email" name="email" id="id_email" placeholder="Correo electrónico"
          class="form-control input-text font-roboto" value="{{ form.email.value }}">
      </div>

      {% if form.email.errors %}
      <div class="error-message w-full leading-3 text-sm">{{ form.email.errors|first }}</div>
      {% endif %}
    </div>

    <!-- Identification type and number -->
    <div class="flex flex-col gap-2">
      <div class="text-lg leading-4 font-raleway text-slate-800">DOCUMENTO</div>

      <div class="flex gap-2">
        <!-- Identification type 
            While a bit confusing, this code draws a dropdown select
            of the identification types from the 'identification_type'
            field located in the user model.
        -->
        <select name="identification_type" id="id_identification_type"
          class="px-2 border rounded-md font-roboto bg-white border-slate-800">
          {% for value, text in form.identification_type.field.choices %}
          <option value {% if value %}="{{ value }}" {% endif %}
            {% if value == form.identification_type.value %}selected{% endif %}>
            {{ text }}
          </option>
          {% endfor %}
        </select>

        <!-- Identification number -->
        <div class="form-group custom-input p-2 border rounded-md border-slate-800">
          <input type="text" name="identification_number" id="id_identification_number"
            placeholder="Número de documento" class="form-control input-text font-roboto"
            value="{{ form.identification_number.value }}">
        </div>
      </div>

      {% if form.identification_number.errors %}
      <div class="error-message w-full leading-3 text-sm">{{ form.identification_number.errors|first }}</div>
      {% endif %}
    </div>

    <!-- Gender -->
    <div class="flex flex-col gap-2">
      <div class="text-lg leading-4 font-raleway text-slate-800">GÉNERO</div>

      <select name="gender" id="id_gender" class="px-2 py-3 border rounded-md font-roboto bg-white border-slate-800">
        {% for value, text in form.gender.field.choices %}
        <option value {% if value %}="{{ value }}" {% endif %} {% if value == form.gender.value %}selected{% endif %}>
          {{ text }}
        </option>
        {% endfor %}
      </select>
    </div>

    <!-- Action buttons -->
    <div class="flex gap-3">
      <input class="btn btn-primary" type="submit" value="GUARDAR" />
      <a href="{% url 'accounts:profile' %}" class="btn btn-primary">CANCELAR</a>
    </div>

  </form>
</div>

{% endblock %}