{% extends "layouts/base_authenticated.html" %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block body %}

<div class="flex flex-col gap-4">
  <div class="flex justify-between gap-8 px-10 py-6 border-2 rounded-md border-slate-800">

    <!-- Left side: profile picture and action buttons -->
    <div class="flex flex-col items-center gap-3">

      <!-- Profile picture -->
      <div class="flex flex-col items-center gap-2">
        <div class="text-center leading-4 text-lg font-raleway text-slate-800">FOTO DE PERFIL</div>
        <img class="rounded-full h-40 w-40" src="{% static 'images/ic-account-circle-dark.svg' %}"
          alt="Profile picture" />
      </div>

      <!-- Profile action buttons TODO: Fix links -->
      <a href="" class="btn btn-primary self-stretch">EDITAR PERFIL</a>
      <a href="" class="btn btn-primary self-stretch">CAMBIAR CONTRASEÑA</a>
      <a href="{% url 'logout' %}" class="btn btn-primary self-stretch">CERRAR SESIÓN</a>

    </div>

    <!-- Right side: profile information -->
    <div class="flex flex-col items-start gap-3">

      <!-- Name -->
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">NOMBRE</div>
        <div class="text-xl font-light font-roboto">{{ user.get_full_name }}</div>
      </div>

      <!-- Email -->
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">CORREO ELECTRÓNICO</div>
        <div class="text-xl font-light font-roboto">{{ user.email }}</div>
      </div>

      <!-- Identification number -->
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">DOCUMENTO</div>
        <div class="text-xl font-light font-roboto">{{ user.get_formatted_identification }}</div>
      </div>

      <!-- Gender -->
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">GÉNERO</div>
        <div class="text-xl font-light font-roboto">{{ user.get_gender_display }}</div>
      </div>

      <!-- Role (Staff level) -->
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">ROL</div>
        <div class="text-xl font-light font-roboto">
          {% if user.is_staff %}
          Administrador
          {% else %}
          Encargado
          {% endif %}
        </div>
      </div>

      <!-- Site -->
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">SEDE</div>
        <div class="text-xl font-light font-roboto">{{ user.site.name }}</div>
      </div>

      <!-- Last login -->
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">ÚLTIMO ACCESO</div>
        <div class="text-xl font-light font-roboto">{{ user.last_login|date:"d/m/Y H:i" }}</div>
      </div>

      <!-- Date joined -->
      <div class="flex flex-col">
        <div class="text-lg leading-4 font-raleway text-slate-800">FECHA CREACIÓN</div>
        <div class="text-xl font-light font-roboto">{{ user.date_joined|date:"d/m/Y H:i" }}</div>
      </div>
    </div>

  </div>

  <div class="flex">
    <a href="{{ request.META.HTTP_REFERER|escape }}" class="btn btn-primary">VOLVER</a>
  </div>
</div>

{% endblock %}