{% extends "layouts/base_not_authenticated.html" %}
{% load static %}

{% block title %}Iniciar sesión{% endblock %}

{% block body %}
  
  <div class="px-10 py-6 flex flex-col max-w-md gap-4 border-2 rounded-md border-slate-800">
    <h1 class="text-4xl text-center font-raleway font-medium text-slate-800">Iniciar sesión</h1>

    <form class="flex flex-col gap-4" method="post" action="{% url 'login' %}">
      {% csrf_token %}

        <div class="form-group custom-input p-2 border-2 rounded-md border-slate-800">
          <div class="icon-email"></div>
          <input type="email" name="username" placeholder="Correo electrónico" class="form-control input-text" >
        </div>

        <div class="form-group custom-input p-2 border-2 rounded-md border-slate-800">
          <div class="icon-lock"></div>
          <input type="password" name="password" placeholder="Contraseña" class="form-control input-text" >
        </div>

        <input class="p-2 text-lg cursor-pointer rounded-md font-raleway font-normal bg-slate-800 text-white self-stretch" type="submit" value="INICIAR SESIÓN" />
        <input type="hidden" name="next" value="{{ next }}" />
    
    </form>

    <p class="text-center text-slate-800 text-sm"><a href="{% url 'password_reset' %}">
      <u>¿Olvidaste tu contraseña?</u>
    </a></p>
  </div>

  {% if form.errors %}
    <div class="p-2 mt-4 max-w-md text-center font-light font-roboto rounded-md bg-red-400">
    El correo o contraseña son inválidos
    </div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="p-2 mt-4 max-w-md text-center font-light font-roboto rounded-md bg-red-400">
      No tienes permisos para acceder a esta página
      </div>
    {% else %}
      <div class="p-2 mt-4 max-w-md text-center font-light font-roboto rounded-md bg-red-400">
      Inicia sesión para acceder a esta página
      </div>
    {% endif %}
  {% endif %}

{% endblock %}

