{% extends "layouts/base_not_authenticated.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block body %}

{% if validlink %}

<div class="max-w-md flex flex-col items-center gap-3">
  <div class="container px-10 py-6 flex flex-col max-w-md flex-wrap gap-2 border-2 rounded-md border-slate-800">

    <h1 class="text-4xl text-center font-raleway font-medium text-slate-800">Cambio de contraseña</h1>
    <p class="text-base text-center font-roboto">Ingresa (y confirma) tu nueva contraseña<p>

        <form class="flex flex-col gap-4" method="post" action="">
          {% csrf_token %}

          <div class="form-group custom-input p-2 border rounded-md border-slate-800">
            <div class="icon-lock"></div>
            <input type="password" name="new_password1" placeholder="Contraseña" class="form-control input-text" />
          </div>
          {% if form.new_password1.errors %}
          <div class="message error w-full leading-3 text-sm">{{ form.new_password1.errors|first }}</div>
          {% endif %}

          <div class="form-group custom-input p-2 border rounded-md border-slate-800">
            <div class="icon-lock"></div>
            <input type="password" name="new_password2" placeholder="Confirmar contraseña"
              class="form-control input-text" />
          </div>
          {% if form.new_password2.errors %}
          <div class="message error w-full leading-3 text-sm">{{ form.new_password2.errors|first }}</div>
          {% endif %}

          <input type="submit" class="btn btn-primary self-stretch" value="CAMBIAR CONTRASEÑA">

        </form>
  </div>
</div>

{% else %}
<div class="max-w-md flex flex-col items-center gap-3">

  <h1 class="text-3xl font-raleway font-semibold text-slate-800">El link ha expirado</h1>
  <p class="text-base text-center font-roboto">El link de recuperación de contraseña es inválido o ha expirado</p>
  <a href="{% url 'login'%}" class=""><u>Presiona aquí para volver al inicio</u></a>

</div>
{% endif %}

{% endblock %}