{% extends "layouts/base_not_authenticated.html" %}

{% block title %}Recuperar contraseña{% endblock %}

{% block body %}

  {% if validlink %}
    <div class="px-10 py-6 flex flex-col max-w-md flex-wrap gap-2 border-2 rounded-md border-slate-800">

      <h1 class="text-4xl text-center font-raleway font-medium text-slate-800">Cambio de contraseña</h1>
      <p class="text-base text-center font-roboto">Ingresa (y confirma) tu nueva contraseña<p>

      <form class="flex flex-col gap-4" method="post" action="">
        {% csrf_token %}

        <div class="form-group custom-input p-2 border-2 rounded-md border-slate-800">
          <div class="icon-lock"></div>
          <input type="password" name="new_password1" placeholder="Contraseña" class="form-control input-text" >
        </div>

        <div class="form-group custom-input p-2 border-2 rounded-md border-slate-800">
          <div class="icon-lock"></div>
          <input type="password" name="new_password2" placeholder="Confirmar contraseña" class="form-control input-text" >
        </div>

        <input type="submit" class="p-2 text-lg cursor-pointer rounded-md font-raleway font-normal bg-slate-800 text-white self-stretch" value="CAMBIAR CONTRASEÑA">
      
      </form>
    </div>

    {% if form.errors %}
      <div class="p-2 mt-4 text-base text-center max-w-md font-light font-roboto rounded-md bg-red-400">
      Las contraseñas deben ser iguales, no deben ser comunes, tener mínimo 8 caracteres y contener al menos una letra mayúscula, una minúscula y un número.
      </div>
    {% endif %}

  {% else %}

    <div class="flex flex-col max-w-md items-center gap-4 ">
      <h1 class="text-3xl font-raleway font-semibold text-slate-800">El link ha expirado</h1>
      <p class="text-base text-center font-roboto">El link de recuperación de contraseña es inválido y ha expirado</p>
      <a href="{% url 'login'%}" class=""><u>Presiona aquí para volver al inicio</u></a>
    </div>

  {% endif %}

{% endblock %}
